<div class='container mt-5'>
  <h2>
    <br>
  <span class ='title' >Courses</span>
</h2>
<hr style="border-color:#ff9900">

<div class="content">

            <div  class="body"><p>The curriculum is periodically updated and that is being followed currently is based on the 2014 curriculum of IIT Madras. The courses for the B.Tech programme fall into four major Categories:</p>

<p class="text-align-center"><strong>1)Humanities and social sciences</strong></p>

<p class="text-align-center"><strong>2)Basic sciences</strong></p>

<p class="text-align-center"><strong>3)Basic Engineering Theory / Skills</strong></p>

<p class="text-align-center"><strong>4)Professional Major &amp; Minor Theory and Laboratory</strong></p>

<p>Revision of curriculum for the 2017 batch students has been initiated and the curriculum for the first year is finalized. A curriculum advisory committee with members drawn from academia and industry is being set up to examine and revise the curriculum. </p>

<p>The faculty strength at present is twenty four of which fourteen are young faculty while the rest are senior faculty from IIT Madras, DAE and other Government organizations. Visiting faculty from IIT Madras and guest faculty, who are senior retired faculty from reputed institutions, also handle courses. The strength of young faculty is to be augmented shortly. </p>
</div>

  </div>

</div>
<br />
<br />
