<div class='container mt-5'>
  <h2>
    <br />
  <span class ='title' >Current UG Programs</span>
</h2>
<hr style="border-color:#ff9900">
<pre style="font-size:15px">
  IIT Palakkad offers four-year B.Tech programme in four branches: Civil Engineering, Computer Science
  and Engineering, Electrical Engineering and Mechanical Engineering. The yearly intake is about 120
  students, equally distributed in all four branches. Students have come from almost all parts of the
  country, providing a truly cosmopolitan and multicultural environment.
</pre>

<p>
  <strong>Offered B.Tech Courses</strong>
</p>
<table cellspacing='2' cellpadding='2' border='0'>
<tbody>
  <tr>
    <td>Civil Engineering </td>
			<td>30 seats</td>
		</tr>
    <tr>
      <td>Computer Science &amp; Engineering</td>
			<td>50 seats</td>
		</tr>
    <tr>
      <td>Electrical Engineering</td>
			<td>50 seats</td>
		</tr>
    <tr>
      <td>Mechanical Engineering</td>
			<td>30 seats</td>
		</tr>
</tbody>
</table>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
