<br />
<br />
<br />

  <div id="myCarousel" class="carousel slide boxsize" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="first-slide" src="../../assets/images/insti1.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="second-slide" src="../../assets/images/insti2.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="third-slide" src="../../assets/images/insti3.jpg" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>

  <div class="container">
    <h3 style="color:#ff9900">News</h3>
    <div class="row">

      <div class="col-md-4">
        <div>

          <p style="font-style: italic;color:#262626;">
            IIT PALAKKAD SIGNS RESEARCH COLLABORATION AGREEMENT WITH TEMASEK LABORATORIES@NTU SINGAPORE
          </p>
          <p>
IIT Palakkad and Temasek Laboratories@NTU, Singapore, has signed a research collaboration agreement on 25th May 2018, to conduct a joint research on the topic of Multimodal Emotion detection from Electroencephalography (EEG) and other physiological signals.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div>

          <p style="font-style: italic;color:#262626;">
          IIT PALAKKAD SIGNS STUDY ABROAD AGREEMENT WITH AUCKLAND UNIVERSITY OF TECHNOLOGY, NEW ZEALAND
        </p>
          <p>
As a first attempt to facilitate holistic and global education experience, IIT Palakkad has signed a Study Abroad Agreement with Auckland University of Technology (AUT), Auckland, New Zealand, on 8th May 2018. This agreement will enable 8th semester B.Tech. students of IIT Palakkad to do a semester study at AUT, and take the credits earned for their graduation in IIT Palakkad. </p>
        </div>
      </div>
      <div class="col-md-4">
        <div>

          <p style="font-style: italic;color:#262626;">
          VIGYAN JYOTI RESIDENTIAL CAMP AT IIT PALAKKAD
        </p>
          <p>
            Prof. Rohini Godbole, from IISc Bangalore will inaugurate the programme on 29th April at 2 PM. Prof. P. B. Sunil Kumar, Director, IIT Palakkad and Prof. K. L. Sebastian, Dean R &D, IIT Palakkad will address the audience.

            There will be lectures on Science, Engineering, Social Sciences, Arts, Health and Online safety. Several hands-on sessions in labs are also scheduled.         </div>
      </div>
    </div>
  </div>
