<div class='container mt-5'>
  <h2>
    <br>
  <span class ='title' >About IIT Palakkad</span>
</h2>
<hr style="border-color:#ff9900">

<div class="content">

<div  class="body">  Indian Institutes of Technology (IITs) are autonomous public institutions of national importance for higher education in engineering, science and technology. Starting with IIT Kharagpur in 1951, there are 23 such Institutes of excellence all over India today, and IIT Palakkad belongs to this prestigious group. Celebrated as a major granary of Kerala, Palakkad is the gateway to the State from the North in the form of the nearly 40-kilometre break in the Western Ghats, called the Palakkad Gap. The place  is known for its rich traditions, great historical events and personalities connected with it, and its sylvan surroundings, especially the Silent Valley rain forests and the famed palmyra trees.
<br />
<br />
IIT Palakkad was announced by the Government of India in 2014. We began with a headstart  in the very next academic year, 2015-16, with the support of our mentor Institute (IIT Madras). The academic program was launched by admitting students to the B. Tech. course in the disciplines of Civil Engineering, Computer Science & Engineering, Electrical Engineering and Mechanical Engineering. Our Institute can already boast of a vibrant student and faculty community drawn from different parts of the country; it has truly emerged as a microcosm of India. As of now, we are located at the Ahalia integrated campus close to the Palakkad – Coimbatore National Highway, about 25 kilometres from Palakkad. We are equipped with state of the art facilities to meet all the professional and personal needs of the students, faculty and staff. Within a short span of two years, we were able to start Masters and Doctoral programs in Engineering, Mathematics, Physics and Chemistry.
<br />
<br />
Our permanent campus is fast coming up on a picturesque 500-acre plot at the foot of  the Western Ghats, a UNESCO World Heritage Site. It is situated within a few kilometres from the Palakkad Railway Junction and about 60 kilometres from the Coimbatore International Airport.
  </div>
  <br />
  <br />

</div>
