<!-- <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017-2018 Company Name</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
</footer> -->

<footer class="text-muted ">
      <div class="container mb-0 ">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p class="text-center txtcolor">Copyright@ <a routerLink="/home">IIT Palakkad</a> </p>

      </div>
    </footer>
